[flake8]max-line-length=100ignore=  # E11
1: 
Indentation.   
is not
a multiple of 
fourE111, #
E11Indentation is not a 
multiple of four 
comment
E114# E402: 
Module
level import
not at top of filE4 02,
    # E73
1: do not 
assign 
a lambda expression, 
use a dE731,
    # W503:
Line break before binary operator
    W # W504: 
Line break after
binary operator. {W504}
